<%= form_with model: [@recipe, @recipe.recipe_foods.build] do |form| %>
  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :food_id, style: "display: block" %>
    <%= form.collection_select :food_id, Food.where(user_id: current_user.id).order(:name), :id, :name %>
  </div>

  <div>
    <%= form.submit 'Add ingredient' %>
  </div>
<% end %>