<%= link_to recipe_path(recipe) do %>
<div id="<%= dom_id recipe %>", class='border border-neutral-800 p-6 flex justify-between' >
  <div class='flex flex-col items-start'>
    <h3 class='text-3xl font-bold'>
      <%= recipe.name %>
    </h3>
    <p>
      <%= button_to "Remove", recipe, method: :delete, class:'border rounded bg-red-500 px-2 py-1 mt-2 hover:bg-red-200 hover:text-red-800' %>
    </p>
  </div>
  <div class='flex flex-col items-start w-1/2'>
    <p>
      <%= recipe.description %>
    </p>
  </div>
</div>
<% end %>
