<%= render @recipe %>

<div>
  <%= link_to "Back to recipes", recipes_path %>

  <% if can? :destroy, @recipe %>
    <%= button_to "Destroy this recipe", @recipe, method: :delete %>
  <% end %>
</div>

<%= render 'form_add_food' %>

<%= render 'recipe_foods' %>
