<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class='flex flex-col items-center'>

    <div class='w-full'><%= render 'nav_bar/nav_bar' %></div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='w-4/5'>
      <%= yield %>
    </div>
  </body>
</html>
